@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Geist Variable';
	src: url('/Geist-VariableFont.ttf');
}

html,
body {
	font-family: 'Geist Variable', sans-serif;
	scroll-behavior: smooth;
	@apply text-gray-700;
}

button {
	@apply cursor-pointer;
}

.font-mono {
	font-family: 'Geist Mono Variable', monospace;
}


@theme {
	--color-primary: theme(colors.blue.800);
	--color-primary-hover: theme(colors.blue.900);
	--color-primary-from: theme(colors.blue.800);
	--color-primary-to: color-mix(in oklab, theme(colors.blue.800) 95%, transparent);
	--color-highlight: theme(colors.blue.800) 50%;
}

@layer utilities {
	.bg-primary {
		background-color: var(--color-primary);
	}

	.hover\:bg-primary:hover {
		background-color: var(--color-primary-hover);
	}

	.bg-primary-gradient {
		background-image: linear-gradient(to top, var(--color-primary-from), var(--color-primary-to));
	}

	.prose {
		p {
			@apply mt-3 first:mt-0;
		}
		pre {
			@apply w-full rounded-lg;
		}
		strong {
			@apply font-medium text-black;
		}
		code {
			font-family: 'Geist Mono Variable', monospace;
		}
		ul {
			@apply ml-5 mt-1 list-disc space-y-1 marker:text-gray-300;
		}
		ol {
			@apply ml-5 mt-3 list-decimal space-y-1;
		}
		a {
			@apply text-black font-normal underline;
		}
		h1,
		h2,
		h3 {
			@apply font-semibold text-black;
		}
		h1 {
			@apply mt-7 text-2xl;
		}
		h2 {
			@apply mt-5 text-xl;
		}
		h3 {
			@apply mt-4 text-lg;
		}
	}
}
