@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@font-face {
	font-family: 'Geist Variable';
	src: url('/Geist-VariableFont.ttf');
}

@font-face {
	font-family: 'Geist Mono Variable';
	src: url('/GeistMono-VariableFont.ttf');
}

html,
body {
	font-family: 'Geist Variable', sans-serif;
	scroll-behavior: smooth;
	@apply text-gray-700;
}

.font-mono {
	font-family: 'Geist Mono Variable', monospace;
}

::selection {
	background-color: var(--color-selection);
}

button {
	@apply cursor-pointer;
}

@theme {
	--color-primary: theme(colors.blue.800);
	--color-primary-hover: theme(colors.blue.900);
	--color-primary-from: theme(colors.blue.800);
	--color-primary-to: color-mix(in oklab, theme(colors.blue.800) 95%, transparent);
	--color-selection: theme(colors.blue.800) 50%;
}

@layer theme {
	[data-theme='rose'] {
		--color-primary: theme(colors.rose.800);
		--color-primary-hover: theme(colors.rose.900);
		--color-primary-from: theme(colors.rose.800);
		--color-primary-to: color-mix(in oklab, theme(colors.rose.800) 95%, transparent);
		--color-selection: theme(colors.rose.200);
	}
	[data-theme='amber'] {
		--color-primary: theme(colors.amber.800);
		--color-primary-hover: theme(colors.amber.900);
		--color-primary-from: theme(colors.amber.800);
		--color-primary-to: color-mix(in oklab, theme(colors.amber.800) 95%, transparent);
		--color-selection: theme(colors.amber.200);
	}
	[data-theme='emerald'] {
		--color-primary: theme(colors.emerald.800);
		--color-primary-hover: theme(colors.emerald.900);
		--color-primary-from: theme(colors.emerald.800);
		--color-primary-to: color-mix(in oklab, theme(colors.emerald.800) 95%, transparent);
		--color-selection: theme(colors.emerald.200);
	}
	[data-theme='violet'] {
		--color-primary: theme(colors.violet.800);
		--color-primary-hover: theme(colors.violet.900);
		--color-primary-from: theme(colors.violet.800);
		--color-primary-to: color-mix(in oklab, theme(colors.violet.800) 95%, transparent);
		--color-selection: theme(colors.violet.200);
	}
	[data-theme='fuchsia'] {
		--color-primary: theme(colors.fuchsia.800);
		--color-primary-hover: theme(colors.fuchsia.900);
		--color-primary-from: theme(colors.fuchsia.800);
		--color-primary-to: color-mix(in oklab, theme(colors.fuchsia.800) 95%, transparent);
		--color-selection: theme(colors.fuchsia.200);
	}
}

@layer utilities {
	.h-header {
		height: 72px;
	}

	.h-screen-minus-header {
		height: calc(100vh - 72px);
	}

	.bg-primary {
		background-color: var(--color-primary);
	}

	.bg-secondary {
		background-color: var(--color-secondary);
	}

	.hover\:bg-primary:hover {
		background-color: var(--color-primary-hover);
	}

	.hover\:bg-secondary:hover {
		background-color: var(--color-secondary-hover);
	}

	.bg-primary-gradient {
		background-image: linear-gradient(to top, var(--color-primary-from), var(--color-primary-to));
	}

	.prose {
		p {
			@apply mt-3 first:mt-0;
		}
		strong {
			@apply font-medium text-black;
		}
		ul {
			@apply ml-10 mt-1 list-disc space-y-1 marker:text-gray-300;
		}
		ol {
			@apply ml-10 mt-3 list-decimal space-y-1;
		}
		a {
			@apply text-blue-500 transition-all ease-in-out hover:text-blue-600;
		}
		h1,
		h2,
		h3 {
			@apply font-semibold text-black;
		}
		h1 {
			@apply mt-7 text-2xl;
		}
		h2 {
			@apply mt-5 text-xl;
		}
		h3 {
			@apply mt-4 text-lg;
		}
	}
}
